html{
    font-family: 'Segoe UI';
}
.sp1{
    color: rgb(222, 18, 18);
    margin-right: 745px;
}
.sp2{
    color: #f8f8f8;
    margin-right: 745px;
}
.a{
    text-decoration: none;
    color: white;
}